# the variables will be python-parsed

# must be absolute path
IMAGES_DIR="/images/"
CACHE_DIR="/cache/"

OUTPUT_TYPE=None
MAX_UPLOADS_PER_DAY=1000
MAX_UPLOADS_PER_HOUR=100
MAX_UPLOADS_PER_MINUTE=20
ALLOWED_ORIGINS=["*"]
NAME_STRATEGY="randomstr"
MAX_TMP_FILE_AGE="5 * 60"
RESIZE_TIMEOUT=5
NUDE_FILTER_MAX_THRESHOLD=None
JWT_PUBLIC_KEY=None
JWT_ALGORITHM=None
JWT_SECRET=None
UPLOAD_REQUIRE_AUTH=False
GET_REQUIRE_AUTH=False
DISABLE_RESIZE=False
UPLOAD_ROUTE="/"
IMAGES_ROOT=""
VALID_SIZES=[]
MAX_SIZE_MB=16
